POSTGRES_HOST=localhost
POSTGRES_PORT=5432
POSTGRES_DB=ficdev_recomendacao
POSTGRES_USER=postgres
POSTGRES_PASSWORD=postgres

MONGO_URI=mongodb://localhost:27017
MONGO_DB=ficdev_recomendacao
MONGO_USER=admin
MONGO_PASSWORD=admin123

SUPERSET_SECRET_KEY=ficdev_secret_key_superset_2026_dev
SUPERSET_PORT=8088
SUPERSET_ADMIN_USERNAME=admin
SUPERSET_ADMIN_PASSWORD=admin
